@model Trial.Core.Models.Home.HomePageItem

@{
    ViewBag.Title = "_Layout";
}
<html>
    <head>
        <title>Algenius</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/home/style")
        @Scripts.Render("~/home/script")
    </head>
    <body id="top">
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <div class="fl_left">
                    <ul>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
                    </ul>
                </div>
                <div class="fl_right">
                    <ul>
                        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>

            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
        @Html.Raw(Model.MenuBar)
        @RenderBody()
        @if (TempData["Error"] != null)
        {
            <br />
            <div class="alert alert-danger" role="alert">
                @TempData["Error"].ToString()
            </div>
        }
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
        <a id="backtotop" href="#top" class=""><i class="fa fa-chevron-up"></i></a>

        @RenderSection("scripts", required: false)
    </body>
</html>