@model Trial.Core.Models.Content.ContentPageItem
@{
    ViewBag.Title = Trial.Core.Strings.Contents;
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/Content/nestable.css" rel="stylesheet" />
<script src="~/Scripts/jquery.nestable.js"></script>
<script>
    var ContentUpdateUrl = '@Url.Action("Update","Content")'
    var ContentIndexUrl = '@Url.Action("Index","Content")'
    var AddContent = '@Url.Action("Create","Content")'
</script>
<script src="~/Scripts/AppContent.js"></script>

<section class="section-body">
    <div class="card">
        <div class="card-head">
            <div class="col-sm-6">
                <header>
                    @Trial.Core.Strings.Contents
                </header>
            </div>
            @{
                if (ViewBag.CreateButton) {
                <div class="col-sm-12">
                    <a class="btn btn-primary ink-reaction btn-raised pull-right jsContentCreateBtn">@Trial.Core.Strings.CreateNew</a>
                </div>
                }
            }
        </div>
        <div class="card-body">

            <div class="dd jsContents">
                @Html.Raw(Model.ContentHtml)
            </div>
        </div>
    </div>
</section>
