@model Trial.Core.Models.Content.ContentPageItem
@{
    ViewBag.Title = Trial.Core.Strings.Contents;
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<link href="~/Content/nestable.css" rel="stylesheet" />
<script src="~/Scripts/jquery.nestable.js"></script>
<script>
    var ContentUpdateUrl = '@Url.Action("Update","Content")'
    var ContentIndexUrl = '@Url.Action("Index","Content")'
    var AddContent = '@Url.Action("Create","Content")'
</script>
<script src="~/Scripts/AppContent.js"></script>

<section class="section-body">
    <div class="card">
        <div class="card-head">
            <header>
                @if (Model.categoryId == null)
                {
                    @Trial.Core.Strings.Contents;

                }
                else
                {
                    @Model.categoryName
                }
            </header>
            <div class="tools">
                @if (Model.categoryId != null)
                {
                    <a class="btn btn-primary ink-reaction btn-raised jsContentCreateBtn" data-id="@Model.categoryId">@Trial.Core.Strings.CreateNew</a>
                }
            </div>
        </div>
        <div class="card-body">
            @{
                if (Model.categoryId == null)
                {
                    <div class="dd">
                        <label>@Trial.Core.Strings.Language</label>
                        <br/>
                        @foreach (var type in Trial.Core.Enums.Helper.List<Trial.Core.Enums.Category.CategoryLanguage>())
                        {

                            if (type.Self == Trial.Core.Enums.Category.CategoryLanguage.Turkish)
                            {
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="Language" value="@type.Name" checked='checked'><span>@type.Text</span>
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="Language" value="@type.Name"><span>@type.Text</span>
                                </label>
                            }
                        }
                    </div>
                }
            }

            <div class="dd jsContents mt-20">
                @Html.Raw(Model.ContentHtml)
            </div>
        </div>
    </div>
</section>