@model Trial.Core.Models.Category.CategoryPageItem
@{
    ViewBag.Title = Trial.Core.Strings.Categories;
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}
<link href="~/Content/nestable.css" rel="stylesheet" />
<script src="~/Scripts/jquery.nestable.js"></script>
<script>
    var updateUrl = '@Url.Action("Update","Category")'
    var sortUrl = '@Url.Action("Sort","Category")'
    var AddContent = '@Url.Action("Index","Content")'
</script>
<script src="~/Scripts/AppCategory.js"></script>

<section class="section-body">
    <div class="card">
        <div class="card-head">
            <header>
                @Trial.Core.Strings.Categories
            </header>

            <div class="tools">
                <a href="@Url.Action("Create","Category")" class="btn btn-primary ink-reaction btn-raised">@Trial.Core.Strings.CreateNew</a>


            </div>

        </div>
    
        <div class="card-body">
            <div class="dd">
                <label>@Trial.Core.Strings.Language</label>
                <br />
                @foreach (var type in Trial.Core.Enums.Helper.List<Trial.Core.Enums.Category.CategoryLanguage>())
                {

                    if (type.Self == Trial.Core.Enums.Category.CategoryLanguage.Turkish)
                    {
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="Language" value="@type.Name" checked='checked'><span>@type.Text</span>
                        </label>
                    }
                    else
                    {
                        <label class="radio-inline radio-styled">
                            <input type="radio" name="Language" value="@type.Name"><span>@type.Text</span>
                        </label>
                    }
                }
            </div>

            <div class="dd jsCategories mt-20">
                @Html.Raw(Model.CategoryHtml)
            </div>
        </div>
    </div>
</section>
