@{ 
    var user = (Trial.Core.Models.User.UserItem)ViewBag.User;
}
<header id="header">
    <div class="headerbar">
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="@Url.Action("Index","Home", new { area = "Admin" })">
                            <span class="text-lg text-bold text-primary">@Trial.Core.Strings.ProjectName</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="headerbar-right">
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <span class="profile-info">
                            @user.FullName
                        </span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li class="dropdown-header">@Trial.Core.Strings.Settings</li>
                        <li><a href="@Url.Action("Index","Account", new { area = "User" })">@Trial.Core.Strings.UpdateProfile</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login","Account", new { area = "User" })"><i class="fa fa-fw fa-power-off text-danger"></i> @Trial.Core.Strings.Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>