<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">
        <ul id="main-menu" class="gui-controls">
            <li>
                <a href="@Url.Action("Index","Category", new { area = "Admin" })" class="active">
                    <div class="gui-icon"><i class="fa fa-list"></i></div>
                    <span class="title">@Trial.Core.Strings.Categories</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Content", new { area = "Admin", id = "" })" class="active">
                    <div class="gui-icon"><i class="fa fa-file"></i></div>
                    <span class="title">@Trial.Core.Strings.Contents</span>
                </a>
            </li>
        </ul>


        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">@Trial.Core.Strings.Footer</span>
            </small>
        </div>
    </div>
</div>
