<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - @Trial.Core.Strings.ProjectName</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/panel/style")
    @Scripts.Render("~/panel/script")
</head>
<body class="menubar-hoverable header-fixed ">
    
    @Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml")

    <div id="base">
        <div id="content">
            @if (TempData["Error"] != null)
            {
                <script>
                    trial.App._sendMessage("@TempData["Error"].ToString()","error");
                </script>
            }
            @if (TempData["Message"] != null)
            {
                <script>
                    trial.App._sendMessage("@TempData["Message"].ToString()","success");
                </script>
            }
            @RenderBody()
        </div>
        @Html.Partial("~/Areas/Admin/Views/Shared/_MenuBar.cshtml")
    </div>
</body>
</html>
